@model BlogViewModel

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-10">
            <div class="card border-danger shadow-lg rounded-3">
                <div class="card-header bg-danger text-white">
                    <h3 class="mb-0">Blogu Sil</h3>
                </div>
                <div class="card-body">
                    <h5 class="card-title text-danger">Bu blog yazısını silmek istediğinize emin misiniz?</h5>
                    <hr />

                    <dl class="row">
                        <dt class="col-sm-3">@Html.DisplayNameFor(modelItem=>modelItem.Title)</dt>
                        <dd class="col-sm-9">@Html.DisplayFor(model => model.Title)</dd>

                        <dt class="col-sm-3">@Html.DisplayNameFor(modelItem => modelItem.PublishDate)</dt>
                        <dd class="col-sm-9">@Html.DisplayFor(model => model.PublishDate)</dd>

                        <dt class="col-sm-3">@Html.DisplayNameFor(modelItem => modelItem.CategoryName)</dt>
                        <dd class="col-sm-9">@Html.DisplayFor(model => model.CategoryName)</dd>

                        <dt class="col-sm-3">@Html.DisplayNameFor(modelItem => modelItem.AuthorUsername)</dt>
                        <dd class="col-sm-9">@Html.DisplayFor(model => model.AuthorUsername)</dd>

                        <dt class="col-sm-3">@Html.DisplayNameFor(modelItem => modelItem.Content)</dt>
                        <dd class="col-sm-9">@Html.Raw(Model.Content)</dd>

                        <dt class="col-sm-3">Görsel</dt>
                        <dd class="col-sm-9">
                            @if (!string.IsNullOrEmpty(Model.ImagePath))
                            {
                                <img src="~/@Model.ImagePath" alt="@Model.Title" class="img-thumbnail" style="max-width: 150px;" />
                            }
                            else
                            {
                                <span class="text-muted">Görsel Yok</span>
                            }
                        </dd>
                    </dl>

                    <form asp-action="Delete" asp-route-id="@Model.Id" method="post" class="mt-4">
                        @Html.AntiForgeryToken()
                        <div class="d-flex justify-content-between">
                            <input type="submit" value="Sil" class="btn btn-danger px-4" />
                            <a asp-action="Index" class="btn btn-outline-secondary">← Blog Listesine Dön</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
