@model List<BlogViewModel>

<h2>Blog Listesi</h2>

<p>
    <a asp-action="Create">Yeni Blog Oluştur</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>Başlık</th>
            <th>Yayın Tarihi</th>
            <th>Kategori</th>
            <th>Yazar</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Title)</td>
                <td>@Html.DisplayFor(modelItem => item.PublishDate)</td>
                <td>@Html.DisplayFor(modelItem => item.CategoryName)</td>
                <td>@Html.DisplayFor(modelItem => item.AuthorUsername)</td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id">Detaylar</a> |
                    <a asp-action="Edit" asp-route-id="@item.Id">Düzenle</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Sil</a>
                </td>
            </tr>
        }
    </tbody>
</table>